---
title: Home
permalink: /
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Projects in Digital Composition</h1>
      </div>
    </div>
    <div class="container">
      <p>This is the home page my Projects in Digital Composition class at the University of Pittsburgh</p>
      <p>If you want to see the code for this website, take a look at the <a href="https://github.com/njscholfield/pdc-spring-2019/" target="_blank" rel="noreferrer noopener">repository</a> on GitHub.</p>
    </div>
  </body>
</html>
