---
title: Homeworks
permalink: /homeworks/
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Homeworks</h1>
      </div>
    </div>
    <div class="container">
      <table class="table">
        <tr>
          <th>Assignment</th>
          <th>Link</th>
        </tr>
        <tr>
          <td>Homework 1/2</td>
          <td><a href="./1/">Link</a></td>
        </tr>
      </table>
    </div>
  </body>
</html>
