<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if {{page.title}} == 'Home' %}
<title>PDC Website | Noah Scholfield</title>
{% else %}
<title>{{ page.title }} | Noah Scholfield</title>
{% endif %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/yeti/bootstrap.min.css" integrity="sha256-r12iFMQEm0UR9ibQQSIzevTq+BFH3dn5+PFcr2M1Y8w=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://noahscholfield.com/css/app.css">
