<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
  <a class="navbar-brand" href="/">Noah Scholfield</a>
  <div id="navbar" class="navbar-collapse expand">
    <ul class="nav navbar-nav flex-row justify-content-between">
      <li id="Home" class="nav-item {% if page.title == 'Home' %}active{% endif %}"><a class="nav-link" href="/">Home</a></li>
      <li id="Homeworks" class="nav-item {% if page.title == 'Homeworks' %}active{% endif %}"><a class="nav-link" href="/homeworks/">Homeworks</a></li>
      <li id="Trees" class="nav-item {% if page.title == 'Trees in Pittsburgh' %}active{% endif %}"><a class="nav-link" href="/trees/">Trees in Pittsburgh</a></li>
      <li id="Emails" class="nav-item {% if page.title == 'Reply All' %}active{% endif %}"><a class="nav-link" href="/emails/">Reply All</a></li>
    </ul>
  </div>
</nav>
