---
title: Trees in Pittsburgh
permalink: /trees/
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css" rel="stylesheet">
    <link href="trees.css" rel="stylesheet">
  </head>
<body>
  {% include navbar.html %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Trees in Pittsburgh</h1>
      <p class="lead">By Noah Scholfield</p>
    </div>
  </div>
  <div class="container">
    <section>
      <p>The City of Pittsburgh Department of Public Works Forestry Division cares for and maintains over 45,000 trees which sounds like a lot. However, according to their website, a city like Pittsburgh should have at least 60,000 street trees and could have up to 90,000<sup><a href="#src1">1</a></sup>. Things are improving since there were only 31,524 trees in August 2005<sup><a href="#src1">1</a></sup>, but there is still work to be done.</p>
      <p>But where are all those trees located? It turns out that these trees are not very evenly distributed throughout the city either. Some neighborhoods have a much greater concentration of trees than others which is another problem. To help visualize where the trees are currently most concentrated, I created a heatmap from the tree data<sup><a href="#src2">2</a></sup> which you can see below.</p>
    </section>
    <section>
      <h3 class="text-primary">Heat Map of Trees in Pittsburgh</h3>
      <div class="map" id='heatmap'></div>
      <p class="text-muted">Zoom in and click on individual dots to see info about that tree.</p>
    </section>
    <section>
      <p>As you look around the map, you can see that some neighborhoods have many trees on almost all streets, while other areas have few or no trees. In 2012, Pittsburgh completed an <a href="https://www.treepittsburgh.org/resource/pittsburgh-urban-forest-master-plan/" target="_blank" rel="noreferrer noopener">Urban Forest Master Plan (UFMP)</a> which was a project dedicated to determing the amount of tree cover in Pittsburgh, and providing recommendations for how to increase tree cover in neighborhoods where it is lacking. This plan determined that Pittsburgh had an average tree canopy cover of 42%, but as you can see, that does not apply to every neighborhood equally. Below you can see a graph of the Pittsburgh neighborhoods with the most number of trees cataloged by the Pittsburgh Public Works Department.</p>
    </section>
    <section>
      <div>
        <a href="https://plot.ly/~njscholfield/1/?share_key=zM6V20FRbJAFlM626ObgpN" target="_blank" title="Plot 1" style="display: block; text-align: center;"><img src="https://plot.ly/~njscholfield/1.png?share_key=zM6V20FRbJAFlM626ObgpN" alt="Plot 1" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
        <script data-plotly="njscholfield:1" sharekey-plotly="zM6V20FRbJAFlM626ObgpN" src="https://plot.ly/embed.js" async></script>
      </div>
      <p class="text-muted">According to tree data from the Western Pennsylvania Regional Data Center, these are the 10 Pittsburgh neighborhoods with the greatest number of trees.</p>
    </section>
    <section>
      <p>Even among the top 10 neighborhoods, Squirrel Hill South stands out as having way more trees than any other. In fact, Squirrel Hill South has almost 1.8 times more trees than Highland Park and about 2.4 times as many trees as its sibling neighborhood, Squirrel Hill North.</p>
      <p>If you would like to get involved, I would suggest checking out <a href="https://www.treepittsburgh.org" target="_blank" rel="noreferrer noopener">Tree Pittsburgh</a> for ways you can donate or volunteer to plant trees</p>
    </section>
    <hr>
    <section>
      <h4>Sources</h4>
      <ol>
        <li id="src1">Pittsburgh Public Works, Forestry Division <a href="http://pittsburghpa.gov/dpw/forestry-main-projects" target="_blank" rel="noreferrer noopener">Forestry Projects</a></li>
        <li id="src2"><a href="https://data.wprdc.org/dataset/city-trees" target="_blank" rel="noopener noreferrer">Tree Data</a> from Western Pennsylvania Regional Data Center <a href="http://www.wprdc.org" target="_blank" rel="noreferrer noopener">wprdc.org</a></li>
        <li id="src3">Maps created by me using <a href="https://www.mapbox.com/" target="_blank" rel="noopener noreferrer">Mapbox</a></li>
        <li id="src4">Tree Pittsburgh Website <a href="https://www.treepittsburgh.org" target="_blank" rel="noreferrer noopener">treepittsburgh.org</a></li>
      </ol>
    </section>
  </div>
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js"></script>
  <script src="mapbox.js"></script>
</body>

</html>
