---
title: Trees in Pittsburgh
permalink: /trees/
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css" rel="stylesheet" />
    <link href="trees.css" rel="stylesheet">
  </head>
<body>
  {% include navbar.html %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Trees in Pittsburgh</h1>
      <p class="lead">By Noah Scholfield</p>
    </div>
  </div>
  <div class="container">
    <section>
      <h3 class="text-primary">Heat Map of Trees in Pittsburgh</h3>
      <div class="map" id='heatmap'></div>
      <p class="text-muted">Zoom in and click on individual dots to see info about that tree.</p>
    </section>
    <section>
      <h3 class="text-primary">Health of the Trees in Pittsburgh</h3>
      <div class="map" id="healthmap"></div>
      <p class="text-muted">Zoom in and click on individual dots to see info about that tree.</p>
    </section>
    <hr>
    <section>
      <h4>Sources</h4>
      <ul>
        <li>Tree Data from <a href="https://data.wprdc.org/dataset/city-trees" target="_blank" rel="noopener noreferrer">Western Pennsylvania Regional Data Center</a></li>
        <li>Maps created by me using <a href="https://www.mapbox.com/" target="_blank" rel="noopener noreferrer">Mapbox</a></li>
        <li>Tree Pittsburgh Website <a href="https://www.treepittsburgh.org" target="_blank" rel="noreferrer noopener">www.treepittsburgh.org</a></li>
      </ul>
    </section>
  </div>
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js"></script>
  <script src="mapbox.js"></script>
</body>
</html>
