---
title: Skills Assignment
permalink: /skills/
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.css" rel="stylesheet">
    <link href="skills.css" rel="stylesheet">
  </head>
  <body>
    {% include navbar.html %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Skills Assignment</h1>
        <p class="lead">This is a page for me to play around with stuff for my skills assignment</p>
      </div>
    </div>
    <div class="container">
      <div class="map" id="map"></div>
      <p class="text-muted">Enter a location to add it to the map.</p>
      <button class="btn btn-danger" id="js-clear">&times; Clear Locations</button>
      <hr>
      <h4 class="text-success">States</h4>
      <div class="map" id="state-map"></div>
      <p class="text-muted">This is a map of states colored by their census area</p>
    </div>
    <div class="modal-backdrop d-none">
      <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Location</h5>
              <button type="button" class="close mdl-close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="title">Location Title</label>
                  <input class="form-control" name="title" type="text">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" name="description"></textarea>
                </div>
                <div class="form-group">
                  <label for="color">Color for Location</label>
                  <input class="form-control" name="color" type="color">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary mdl-close">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.min.js"></script>
    <script src="mapbox.js"></script>
  </body>
</html>
