---
title: Skills Assignment
permalink: /skills/
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.css" rel="stylesheet">
    <link href="skills.css" rel="stylesheet">
  </head>
  <body>
    {% include navbar.html %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Skills Assignment</h1>
        <p class="lead">I decided to focus on learning more about <a href="https://www.mapbox.com" target="_blank" rel="noreferrer noopener">Mapbox</a> to make better custom maps</p>
      </div>
    </div>
    <div class="container">
      <section>
        <h4 class="text-primary">Enhanced Tree Map</h4>
        <p>First, I added some functionality to the Mapbox map I made for my Pittsburgh Dataset Project about the trees in Pittsburgh. I added some filtering functionality so you can filter the trees in the heatmap by how healthy they are. You can now also hide the heatmap layer if you just want to look at the plain map without any data so you can see the streets and neighborhoods better.</p>
        <a class="btn btn-success" href="/trees/" target="_blank" rel="noreferrer noopener">Trees Map</a>
      </section>
      <hr>
      <section>
        <h4 class="text-primary">Custom Points</h4>
        <p>I made this map so that you can add custom points by searching for a location and then putting info about that location into a modal that pops up. You can add a title and description to the location as well as pick a color for its dot on the map. Any points you add will be stored in localStorage, which means they they will be remembered by your browser when you revisit the page.</p>
        <div class="map" id="map"></div>
        <p class="text-muted">Enter a location to add it to the map.</p>
        <button class="btn btn-danger" id="js-clear">&times; Clear Locations</button>
      </section>
      <hr>
      <section>
        <h4 class="text-primary">States</h4>
        <p>I made this map to play around with polygons on the map instead of just points. I then colored the states besed upon their "census area" which I think is physical size. I also added popups with the state's name and flag.</p>
        <div class="map" id="state-map"></div>
        <p class="text-muted">This is a map of states colored by their census area</p>
      </section>
    </div>
    <div class="modal-backdrop d-none">
      <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Location</h5>
              <button type="button" class="close mdl-close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="title">Location Title</label>
                  <input class="form-control" name="title" type="text">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" name="description"></textarea>
                </div>
                <div class="form-group">
                  <label for="color">Color for Location</label>
                  <input class="form-control" name="color" type="color">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary mdl-close">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.min.js"></script>
    <script src="mapbox.js"></script>
  </body>
</html>
